{% extends "bootstrap/base.html"  %}
{% block navbar %}
    <!--侧边栏导航-->
    <ul class="nav nav-list well" style="position: fixed; width: 10%; height:100%; z-index: 10">
        <li class="nav-header">命令</li>
        <li><a href={{ url_for('detail_post',postID=-1) }}>新建管理员</a></li>
        <li class="nav-header">数据库</li>
        <li><a href={{ url_for('controller_post') }}>帖子</a></li>
        <li><a href={{ url_for('controller_writer') }}>作者</a></li>
        <li><a href={{ url_for('controller_root') }}>管理员</a></li>
        <li class="divider"></li>
        <li class="nav-header">其他</li>
        <li><a href="https://github.com/ArComet/SQLtest">帮助</a></li>
        <li><a href={{ url_for('home') }}>退出控制台</a></li>
    </ul>


    <!--数据控制台-->
    <div style="background-image: url('/static/images/bg1.jpg'); background-size: contain;">
        <div class="container"  style="min-height: 800px">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--导航栏-->
                    {% include "./Navbar.html" %}

                    {% if root_list %}
                        <!--展示搜索结果-->
                        <div class="panel-group" id="panel-422177">
                            {% for root in root_list %}
                            <div class="panel panel-default">
                                <div class="list-group-item">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-422177" href="#panel-element-{{ root.ID }}">
                                        {{ root.name }}
                                    </a>
                                </div>
                                <div id="panel-element-{{ root.ID }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        password: {{ root.password }}
                                    </div>
                                </div>
                                <a class="btn btn-link" href={{ url_for('detail_post',postID=root.ID) }}>编辑</a>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!--无结果时提示-->
                        <div style="height: 600px; background: white; opacity: 80%;" >
                            <div style="position: absolute; top: 50%; right: 50%">暂无相关内容</div>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
