{% extends "bootstrap/base.html"  %}
{% block navbar %}
    <style>
    {#从右滑动进入动画#}
    .animated-1 {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }

    .animated-2 {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: 1s;
    }

    @-webkit-keyframes slideInRight {
        0% {
            -webkit-transform: translateX(150%);
            transform: translateX(150%);
            visibility: visible
        }}

    @keyframes slideInRight {
        0% {
            -webkit-transform: translateX(150%);
            -ms-transform: translateX(150%);
            transform: translateX(150%);
            visibility: visible
        }}

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }
    </style>
    <script>
    </script>
    <!--主页-->
    <div style="background-image: url('/static/images/bg1.jpg'); background-size:contain">
        <div class="container"  style="min-height: 800px">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--导航栏-->
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href={{ url_for('home') }}>DOGE</a>
                        </div>
                        <!--导航栏搜索框-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                     <a href={{  url_for('home') }}>主页</a>
                                </li>
                                <li>
                                     <a href={{  url_for('overview') }}>统计</a>
                                </li>
                                <script type="text/javascript">
                                    function change_searchType(text) {
                                        document.getElementById("dropdown").innerText=text;
                                        document.getElementById("searchType").value=text;
                                    }
                                </script>
                                <li class="dropdown">
                                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                                        <block id="dropdown">标题</block>
                                        <strong class="caret"></strong>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="change_searchType('标题')">标题</a></li>
                                        <li><a href="#" onclick="change_searchType('内容')">内容</a></li>
                                        <li><a href="#" onclick="change_searchType('作者')">作者</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="change_searchType('现在学校')">现在学校</a></li>
                                        <li><a href="#" onclick="change_searchType('目标院校')">目标院校</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!--搜索表单-->
                            <form class="navbar-form navbar-left" role="search" action={{ url_for("viewer") }} method="POST">
                                <label>
                                    <input name="searchTarget" type="text" class="form-control" />
                                    <input id="searchType" name="searchType" type="text" class="form-control" style="display: none" value="标题"/>
                                </label>
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                            <!--导航栏登录选项-->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">管理员登录</a></li>
                                <li class="dropdown">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">

                                        <li><a href="#">修改密码</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">退出登录</a></li>
                                    </ul>
                                </li>
                                <li><a href={{ url_for('controller_post') }}>控制台</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!--横幅-->
                    <div class="jumbotron animated-1 slideInRight">
                        <h1>
                            <img style="width:10%;border-radius: 50%" src="https://static.wikia.nocookie.net/dogeshibe/images/1/1d/29513201_2093062984053920_1254481581414956582_n.jpg">
                            研招Doge
                        </h1>


                        <h2>
                           迅速获取时下最热的计算机升学资讯
                        </h2>
                        <br>
                        <br>
                        <div style="text-align: right">
                             <p>不积跬步无以至千里，不积小流无以成江海。————荀子</p>
                        </div>
                        <div style="text-align: right">
                             <a class="btn btn-primary btn-large" href="https://yz.chsi.com.cn/">中国研招网 »</a>
                        </div>
                    </div>
                    <!--帖子列表-->
                    <div class="panel-group animated-2 slideInRight" id="panel-422177">
                        {% for post in post_list %}
                            <div class="panel panel-default">
                                <div class="list-group-item">

                                    <span class="badge">热度：{{ post.pop }}</span>

                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-422177" href="#panel-element-{{ post.ID }}">
                                        {{ post.postTitle }}
                                    </a>
                                </div>
                                <div id="panel-element-{{ post.ID }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ post.postContent }}
                                        <div align="right">
                                            <button type="button" class="btn btn-warning" onclick="window.open('{{ post.url }}')">转到来源</button>
                                        </div>
                                    </div>
                                    <div class="list-group">
                                        <div class="list-group-item active">作者：{{ post.writerName }}</div>
                                        <div class="list-group-item">考研年份：{{ post.writerYear }}</div>
                                        <div class="list-group-item">现在院校：{{ post.writerSchool }}</div>
                                        <div class="list-group-item">目标院校：{{ post.writerTarget }}</div>
                                        <div class="list-group-item">{{ post.postTime }}</div>
                                    </div>
                                </div>
                                <div class="btn-group" >
                                    <button type="button" class="btn btn-primary">浏览：{{ post.watches }}</button>
                                    <button type="button" class="btn btn-info">回复：{{ post.replies }}</button>
                                    <button type="button" class="btn btn-success">收藏：{{ post.favorites }}</button>
                                    <button type="button" class="btn btn-danger">点赞：{{ post.likes }}</button>
                                    {% if post.additions == 1 %}
                                        <button class="btn" type="button">含有附件</button>
                                    {% endif %}

                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

