{% extends "bootstrap/base.html"  %}
{% block navbar %}
    <style>

    .animated{
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    {#从右滑动进入动画#}
    @-webkit-keyframes slideInRight {
        0% {
            -webkit-transform: translateX(400%);
            transform: translateX(400%);
            visibility: visible
        }}

    @keyframes slideInRight {
        0% {
            -webkit-transform: translateX(400%);
            -ms-transform: translateX(400%);
            transform: translateX(400%);
            visibility: visible
        }}

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }
    {#从左滑动进入动画#}
    @-webkit-keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
            visibility: visible
        }}

    @keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-400%);
            -ms-transform: translateX(-400%);
            transform: translateX(-400%);
            visibility: visible
        }}

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft
    }

    {#从上滑动进入动画#}
    @-webkit-keyframes slideInUp {
        0% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            visibility: visible
        }}

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(-400%);
            -ms-transform: translateY(-400%);
            transform: translateY(-400%);
            visibility: visible
        }}

    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp
    }
    </style>
    <!--主页-->
    <div style="background-image: url('/static/images/bg1.jpg'); background-size:contain">
        <div class="container"  style="min-height: 800px">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--导航栏-->
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href={{ url_for('home') }}>DOGE</a>
                        </div>
                        <!--导航栏搜索框-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                     <a href={{  url_for('home') }}>主页</a>
                                </li>
                                <li class="active">
                                     <a href={{  url_for('overview') }}>统计</a>
                                </li>
                                <script type="text/javascript">
                                    function change_searchType(text) {
                                        document.getElementById("dropdown").innerText=text;
                                        document.getElementById("searchType").value=text;
                                    }
                                </script>
                                <li class="dropdown">
                                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                                        <block id="dropdown">标题</block>
                                        <strong class="caret"></strong>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="change_searchType('标题')">标题</a></li>
                                        <li><a href="#" onclick="change_searchType('内容')">内容</a></li>
                                        <li><a href="#" onclick="change_searchType('作者')">作者</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="change_searchType('现在学校')">现在学校</a></li>
                                        <li><a href="#" onclick="change_searchType('目标院校')">目标院校</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!--搜索表单-->
                            <form class="navbar-form navbar-left" role="search" action={{ url_for("viewer") }} method="POST">
                                <label>
                                    <input name="searchTarget" type="text" class="form-control" />
                                    <input id="searchType" name="searchType" type="text" class="form-control" style="display: none" value="标题"/>
                                </label>
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                            <!--导航栏登录选项-->
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">管理员登录</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">修改密码</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">退出登录</a></li>
                                    </ul>
                                </li>
                                <li><a href={{ url_for('controller_post') }}>控制台</a></li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
            <!--统计列表-->
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInUp" style="animation-delay: 0.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">点赞统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ likes_sum }}</div>
                        <div class="panel-body">最多：{{ likes_max }}</div>
                        <div class="panel-body">平均：{{ likes_avg }}</div>
                        <div class="panel-footer">点赞与分享者共勉~</div>
                    </div>
                    <div class="panel panel-default animated slideInLeft" style="animation-delay: 1s">
                        <div class="panel-heading">
                            <h3 class="panel-title">最多人梦寐以求的学校</h3>
                        </div>
                        {% for it in target_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">追梦路上无数人与你并行~</div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInLeft" style="animation-delay: 0s">
                        <div class="panel-heading">
                            <h3 class="panel-title">附件统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ add_sum }}</div>
                        <div class="panel-footer">把复习资料统统搬走~</div>
                    </div>
                    <div class="panel panel-default animated slideInRight" style="animation-delay: 2s">
                        <div class="panel-heading">
                            <h3 class="panel-title">收藏统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ favor_sum }}</div>
                        <div class="panel-body">最多：{{ favor_max }}</div>
                        <div class="panel-body">平均：{{ favor_avg }}</div>
                        <div class="panel-footer">收藏好贴很重要~</div>
                    </div>
                    <div class="panel panel-default animated slideInRight" style="animation-delay: 1.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">最多人备考的年份</h3>
                        </div>
                        {% for it in year_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">现在哪一年的竞争最激烈呢~</div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInUp" style="animation-delay: 2.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">讨论氛围最热烈的学校</h3>
                        </div>
                        {% for it in school_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">与同学们共同努力吧~</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}