{% extends "bootstrap/base.html"  %}
{% block navbar %}
    <style>

    .animated{
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    {#从右滑动进入动画#}
    @-webkit-keyframes slideInRight {
        0% {
            -webkit-transform: translateX(400%);
            transform: translateX(400%);
            visibility: visible
        }}

    @keyframes slideInRight {
        0% {
            -webkit-transform: translateX(400%);
            -ms-transform: translateX(400%);
            transform: translateX(400%);
            visibility: visible
        }}

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }
    {#从左滑动进入动画#}
    @-webkit-keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
            visibility: visible
        }}

    @keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-400%);
            -ms-transform: translateX(-400%);
            transform: translateX(-400%);
            visibility: visible
        }}

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft
    }

    {#从上滑动进入动画#}
    @-webkit-keyframes slideInUp {
        0% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            visibility: visible
        }}

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(-400%);
            -ms-transform: translateY(-400%);
            transform: translateY(-400%);
            visibility: visible
        }}

    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp
    }
    </style>
    <!--主页-->
    <div style="background-image: url('/static/images/bg1.jpg'); background-size: cover">
        <div class="container"  style="min-height: 800px">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    {% include "Navbar.html" %}
                </div>
            </div>
            <!--统计列表-->
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInUp" style="animation-delay: 0.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">点赞统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ likes_sum }}</div>
                        <div class="panel-body">最多：{{ likes_max }}</div>
                        <div class="panel-body">平均：{{ likes_avg }}</div>
                        <div class="panel-footer">点赞与分享者共勉~</div>
                    </div>
                    <div class="panel panel-default animated slideInLeft" style="animation-delay: 1s">
                        <div class="panel-heading">
                            <h3 class="panel-title">最多人梦寐以求的学校</h3>
                        </div>
                        {% for it in target_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">追梦路上无数人与你并行~</div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInLeft" style="animation-delay: 0s">
                        <div class="panel-heading">
                            <h3 class="panel-title">附件统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ add_sum }}</div>
                        <div class="panel-footer">把复习资料统统搬走~</div>
                    </div>
                    <div class="panel panel-default animated slideInRight" style="animation-delay: 2s">
                        <div class="panel-heading">
                            <h3 class="panel-title">收藏统计</h3>
                        </div>
                        <div class="panel-body">总计：{{ favor_sum }}</div>
                        <div class="panel-body">最多：{{ favor_max }}</div>
                        <div class="panel-body">平均：{{ favor_avg }}</div>
                        <div class="panel-footer">收藏好贴很重要~</div>
                    </div>
                    <div class="panel panel-default animated slideInRight" style="animation-delay: 1.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">最多人备考的年份</h3>
                        </div>
                        {% for it in year_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">现在哪一年的竞争最激烈呢~</div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="panel panel-default animated slideInUp" style="animation-delay: 2.5s">
                        <div class="panel-heading">
                            <h3 class="panel-title">讨论氛围最热烈的学校</h3>
                        </div>
                        {% for it in school_list %}
                        <div class="panel-body">{{ it[1] }}：{{ it[0] }} 帖</div>
                        {% endfor %}
                        <div class="panel-footer">与同学们共同努力吧~</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}