{% extends "bootstrap/base.html"  %}
{% block navbar %}
    <!--搜索结果页-->
    <div style="background-image: url('/static/images/bg1.jpg'); background-size: contain;">
        <div class="container" style="min-height: 800px">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--导航栏-->
                    {% include "Navbar.html" %}

                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>"{{ searchType }} = {{ searchTarget }}"</strong>的搜索结果，共<strong>{{ res_cnt }}</strong>个。
                    </div>

                    {% if post_list %}
                        <!--展示搜索结果-->
                        <!--帖子列表-->
                        {% include "Postlist.html" %}
                        <!--无结果时提示-->
                        <div style="height: 600px; background: white; opacity: 80%;" >
                            <div style="position: absolute; top: 50%; right: 50%">暂无相关内容</div>
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
